service: serverless123

provider:
  name: aws
  runtime: nodejs12.x  
  region: us-east-1
  profile: <YOUR AWS PROFILE>
  
custom:
  stages:
    - dev  
  serverless-offline:
    httpPort: 4000
    websocketPort: 4001
    lambdaPort: 4002

plugins:
  - serverless-stage-manager
  - serverless-offline

functions:
  serverless346:
    name: serverless789
    handler: handler.router
    timeout: 30
    events:
      - http:
          path: 'jingchak/{proxy+}'
          method: any